subcribers-policy/src/main/app/subcriber-balance-svc.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:dw="http://www.mulesoft.org/schema/mule/ee/dw" xmlns:metadata="http://www.mulesoft.org/schema/mule/metadata" xmlns:jms="http://www.mulesoft.org/schema/mule/jms" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/jms http://www.mulesoft.org/schema/mule/jms/current/mule-jms.xsd
http://www.mulesoft.org/schema/mule/ee/dw http://www.mulesoft.org/schema/mule/ee/dw/current/dw.xsd">
    <jms:activemq-connector name="Active_MQ"  brokerURL="vm://localhost" validateConnections="true" doc:name="Active MQ"/>
    <flow name="subcriber-balance-svcFlow">
        <jms:inbound-endpoint queue="${queue.subcriber.balance}" connector-ref="Active_MQ" doc:name="JMS" exchange-pattern="request-response"/>
        <logger message="get balance request #[payload]" level="INFO" doc:name="Logger"/>
        <dw:transform-message doc:name="Transform Message" metadata:id="4132e248-0254-4635-bde0-a2d1fe549ac2">
            <dw:input-payload mimeType="application/java"/>
            <dw:set-payload><![CDATA[%dw 1.0
%output application/java
---
{
	msisdn: payload,
	balance: 10000
}]]></dw:set-payload>
        </dw:transform-message>
    </flow>
</mule>
