subcribers-policy/src/main/app/subcriber-api.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:jms="http://www.mulesoft.org/schema/mule/jms" xmlns:json="http://www.mulesoft.org/schema/mule/json" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/apikit" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:spring="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/json http://www.mulesoft.org/schema/mule/json/current/mule-json.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/apikit http://www.mulesoft.org/schema/mule/apikit/current/mule-apikit.xsd
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
http://www.mulesoft.org/schema/mule/jms http://www.mulesoft.org/schema/mule/jms/current/mule-jms.xsd">
    <http:listener-config name="api-httpListenerConfig" host="0.0.0.0" port="8081" doc:name="HTTP Listener Configuration"/>
    <apikit:config name="api-config" raml="api.raml" consoleEnabled="false" doc:name="Router" keepRamlBaseUri="false"/>
    <flow name="api-main">
        <http:listener config-ref="api-httpListenerConfig" path="/api/*" doc:name="HTTP"/>
        <apikit:router config-ref="api-config" doc:name="APIkit Router"/>
        <exception-strategy ref="api-apiKitGlobalExceptionMapping" doc:name="Reference Exception Strategy"/>
    </flow>
    <flow name="api-console">
        <http:listener config-ref="api-httpListenerConfig" path="/console/*" doc:name="HTTP"/>
        <apikit:console config-ref="api-config" doc:name="APIkit Console"/>
    </flow>
    <flow name="post:/subcriber/info:api-config">
      <json:xml-to-json-transformer doc:name="XML to JSON"/>
        <logger message="getting request #[payload]" level="INFO" doc:name="Logger"/>
        <jms:outbound-endpoint exchange-pattern="request-response" queue="${queue.subcriber.policy}" connector-ref="Active_MQ" doc:name="JMS"/>
        <json:json-to-xml-transformer doc:name="JSON to XML"/>
      <!-- <set-payload value="&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot; ?&gt;&#xA;&lt;root&gt;&#xA;&#x9;&lt;msisdn&gt;08159167113&lt;/msisdn&gt;&#xA;&#x9;&lt;balance&gt;10000&lt;/balance&gt;&#xA;&#x9;&lt;profileNo&gt;1000&lt;/profileNo&gt;&#xA;&lt;/root&gt;" doc:name="Set Payload"/> -->
    </flow>
    <apikit:mapping-exception-strategy name="api-apiKitGlobalExceptionMapping">
    		<apikit:mapping statusCode="503">
            <apikit:exception value="java.lang.Exception" />
            <set-property propertyName="Content-Type" value="application/xml" doc:name="Property"/>
            <set-payload value="&lt;message&gt;Sorry, System Behave Differently&lt;/message&gt;" doc:name="Set Payload"/>
        </apikit:mapping>
        <apikit:mapping statusCode="404">
            <apikit:exception value="org.mule.module.apikit.exception.NotFoundException" />
            <set-property propertyName="Content-Type" value="application/xml" doc:name="Property"/>
            <set-payload value="&lt;message&gt;Resource not found&lt;/message&gt;" doc:name="Set Payload"/>
        </apikit:mapping>
        <apikit:mapping statusCode="405">
            <apikit:exception value="org.mule.module.apikit.exception.MethodNotAllowedException" />
            <set-property propertyName="Content-Type" value="application/xml" doc:name="Property"/>
            <set-payload value="&lt;message&gt;Method not Allowed&lt;/message&gt;" doc:name="Set Payload"/>
        </apikit:mapping>
        <apikit:mapping statusCode="415">
            <apikit:exception value="org.mule.module.apikit.exception.UnsupportedMediaTypeException" />
            <set-property propertyName="Content-Type" value="application/xml" doc:name="Property"/>
            <set-payload value="&lt;message&gt;Unsupported media type&lt;/message&gt;" doc:name="Set Payload"/>
        </apikit:mapping>
        <apikit:mapping statusCode="406">
            <apikit:exception value="org.mule.module.apikit.exception.NotAcceptableException" />
            <set-property propertyName="Content-Type" value="application/xml" doc:name="Property"/>
            <set-payload value="&lt;message&gt;Not acceptable&lt;/message&gt;" doc:name="Set Payload"/>
        </apikit:mapping>
        <apikit:mapping statusCode="400">
            <apikit:exception value="org.mule.module.apikit.exception.BadRequestException" />
            <set-property propertyName="Content-Type" value="application/xml" doc:name="Property"/>
            <set-payload value="&lt;message&gt;Bad request&lt;/message&gt;" doc:name="Set Payload"/>
        </apikit:mapping>
    </apikit:mapping-exception-strategy>
</mule>
